body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(Final/background2.jpg);
}

h1 {
    font-size: 50px;

}

.fatiur-color {
    color: blue;
}

.about-me {
    color: blue;
}

.about-head {
    color: rgb(255, 17, 0);
}

section {
    display: flex;
}

.half-width2 img {
    padding-left: 15%;
    width: 500px;
}

.hire-me {
    color: wheat;
    background-image: linear-gradient(rgba(0, 0, 255, 0.89), black);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
}

.fatiur-pic img {
    width: 200px;
    padding-top: 10%;
}

.dive2 img {
    width: 280px;
    padding-top: 7%;
}

.section-2 {
    display: flex;
    padding: 50%;
}

.dive-3 {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    text-align: justify;
}

.something-more {
    color: blue;
    background-image: linear-gradient(gold, gray);
    border-radius: 10px;
    padding: 10px 30px;
    width: fit-content;

}